.container
  h1.header Some custom page
  .description.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dignissimos eveniet molestiae ut ad neque voluptate est odio vel a ab voluptatum, quod, esse laudantium maiores doloremque iure. At, cumque?Vitae temporibus cumque aperiam eaque maiores, veniam a ad sequi aspernatur fugit perferendis, quis iure eligendi ipsam doloremque quibusdam quam laborum possimus id! Ut recusandae vero, rem labore saepe doloribus?
  hr
  .description.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dignissimos eveniet molestiae ut ad neque voluptate est odio vel a ab voluptatum, quod, esse laudantium maiores doloremque iure. At, cumque?Vitae temporibus cumque aperiam eaque maiores, veniam a ad sequi aspernatur fugit perferendis, quis iure eligendi ipsam doloremque quibusdam quam laborum possimus id! Ut recusandae vero, rem labore saepe doloribus?
  hr
  .blocks
    .blocks_item
     +imgLazy('images/img-1.jpg')
     .blocks_item__descr.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum fugit totam consequatur nobis mollitia libero delectus! Eaque consectetur hic odit sint, a id, nesciunt veritatis, magnam excepturi repellendus architecto eveniet.
    .blocks_item
     +imgLazy('images/img-2.jpg')
     .blocks_item__descr.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum fugit totam consequatur nobis mollitia libero delectus! Eaque consectetur hic odit sint, a id, nesciunt veritatis, magnam excepturi repellendus architecto eveniet.
    .blocks_item
     +imgLazy('images/img-3.jpg')
     .blocks_item__descr.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum fugit totam consequatur nobis mollitia libero delectus! Eaque consectetur hic odit sint, a id, nesciunt veritatis, magnam excepturi repellendus architecto eveniet.
